<div class="container-home">
   <div class="banner" style="background-image: url(assets/background.jpg);">
  <div class="top-left">
    <%= image_tag "club2.png", class: "image"; %>
  </div>
  <div class="top-right">
    <a class="user-link mr-2" href="/users/sign_in">Log in</a>
    <a class="user-link ml-2" href="/users/sign_up">Sign up</a>
  </div>

   <div class="centered">
     <h1> Welcome to Mixologist </h1>
      <p>Your cocktail collection</p>
      <a class="btn btn-1" href="#">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
      </svg>
      Start Now
      </a>
   </div>
 </div>
</div>
