<div class="banner" style="background-image: url(assets/background.jpg);">

  <div class="navbar bg-transparent">
    <div class="navbar-box mx-auto">
      <div class="my-auto">
        <%= image_tag "club2.png", class: "image"; %>
      </div>
      <div class="links p-auto">
        <a class="user-link mr-2" href="/users/sign_in">Log in</a>
        <a class="user-link ml-2" href="/users/sign_up">Sign up</a>
      </div>
    </div>
  </div>


  <div class="label text-align-right">
    <h1> Welcome to your Cocktail Collection</h1>
    <a class="btn btn-1" href="#">
    <svg>
      <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
    </svg>
    Start Now
    </a>
  </div>
</div>
