
<div class="container justify-content-center">
    <div class="cards p-3">
    <% @cocktails.each do |cocktail| %>

     <% unless cocktail.photo.present? %>
        <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(<%= cocktail.image_url %>)">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>

        <% else %>
         <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(<%= cl_image_path cocktail.photo%>)">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
      <% end %>
  <% end %>
  </div>
</div>

