.devise-container{
  width: 70%;
  min-height: 89vh;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 20px;
}

.devise-form-container {
  color: #3C3C3B;
  width: 90%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  background: white;
}
