.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-box {
  margin-left: 10px;
  display: contents;
}

.label {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.navbar{
  padding-right: 40px;
  padding-left: 30px;
}

.nav-link {
  color: white;
  &:hover {
    color: #c6a530;
  }
}

.dropdown-item {
  &:focus {
    background-color: #c6a530;
  }
}
